h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 0;
}
h2 a {
  text-decoration: none;
}

#units {
  font-size: 18px;
  position: relative;
  top: -20px;
  font-weight: normal;
}

.container {
  margin: 50px auto 0;
  width: 650px;
  max-width: 90%;
  border: 2px solid rgb(100, 96, 96);
  padding: 10px 0;
}

.current-location {
  font-size: 14px;
}

.date-time {
  padding: 10px;
}

.city-selector {
  padding: px;
  line-height: 40px;
  font-size: 15px;
}

.selector-searchbox {
  box-shadow: -1px 1px 2px gray;
}

.forecast-by-day {
  color: rgb(84, 82, 82);
  font-size: 18px;
}

.forecast-temperature {
  font-size: 16px;
}

.forecast {
  margin: 10px auto;
}

.active {
  font-weight: bold;
  color: #212529;
  text-decoration: none;
}

.active:hover {
  cursor: default;
  color: #212529;
}

#current-day-time {
  font-size: 20px;
  color: #545252;
}

#source-code-link {
  margin: 0 auto;
  width: 650px;
  max-width: 90%;
  font-size: 14px;
}
